<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>通知系統</title>
    <!-- 放前面先載入 ，會覆蓋所以避免撞名-->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/job.css">
</head>
<body>
    <div class="side-bar-container" id="side-bar-container">
    </div>
    <div class="notification-container">
        <div class="notification-count" id="notification-count">0</div>
        <button class="refresh-button" id="refresh-button">查看通知</button>
        <button class="plugin-button" id="plugin-button">插件管理</button>
        <button class="logout-button" id="logout-button">登出</button> <!-- 新增登出按鈕 -->
        <div class="notification-list-container" id="notification-list-container">
            <div class="notification-list" id="notification-list"></div>
            <button class="load-more-button" id="load-more-button">查看更多</button>
        </div>
        <div class="plugin-container" id="plugin-container" style="display: none;">
            <h3>插件管理</h3>
            <div id="user-plugins" class="plugin-list-container">
            </div>
            <div id="available-plugins" class="plugin-list-container">
            </div>
            <div class="plugin-admin-container" id="plugin-admin-container" style="display: none;">
                <h3>插件添加(管理員)</h3>
                <form id="pluginForm">
                    <label for="plugin_name">Plugin Name:</label>
                    <input type="text" id="plugin_name" name="plugin_name" placeholder="Enter plugin name" required>
            
                    <label for="plugin_apis">Plugin APIs (JSON):</label>
                    <textarea id="plugin_apis" name="plugin_apis" placeholder='{"routine_sub": "http://example.com"}' rows="8" required></textarea>
                    <div id="errorMessage" class="error"></div>
            
                    <button type="submit">Submit</button>
                </form>
            
                <div id="responseMessage" class="success"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script type="module" src="./js/main.js"></script>
    <!-- 避免全域撞名 IIFE -->
</body>
</html>
